.cardback-wrapper{
    margin: 2em;
    background-color: white;
    max-height: 700px;
    width: 500px;
    height: 600px;
    padding: 1em;
    /* transform: rotateY(180deg) */
}

.cardback-header h3{
    background-color: white;
    color: black;
    font-size: 33px;
}

.cardback-header span{
    background-color: white;
    color: black;
}

 .fa-undo{
    font-size: 12px;
    background-color: white;
    color: black;
}

.cardback-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
}

@media (max-width: 768px){
    .cardback-wrapper {
        height: 320px;
        width: 250px;
    }

    .back-container p {
        height: 40px;
        width: 60px;
    }
 
  }

.back-container p {
    width: 320px;
    background-color: white;
    color: black;
    font-size: 23px;
    overflow: hidden;
}

.back-container h3{
    background-color: white;
    color: black;
}

.back-container{
    height: 350px;
    overflow: hidden;
    background-color: white;
}

.card-footer {

    color: rgb(5, 5, 5);
    padding: 1rem;
    cursor: pointer;
    /* border-radius: .4rem; */
    border: 1px solid yellow;
    /* background-color: white; */
    position: relative;
    overflow: hidden;
}

.fa {
    font-size: 3rem !important;
}
.far{
    font-size: 3rem !important;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}