p{
    margin: 0 0 1rem 0;
}
.cardback-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em;
    background-color: white;
    max-height: 700px;
    width: 500px;
    height: 600px;
    padding: 1em;
}
.cardback-header{
    border-bottom: 1px solid rgb(122, 7, 7);
    max-height: 100px;
    min-height: 100px;
}

.cardback-header h3{
    background-color: white;
    color: black;
    font-size: clamp(20px, 2.5vw, 33px);

}

.cardback-header span{
    background-color: white;
    color: black;
}

 .fa-undo{
    font-size: 12px;
    background-color: white;
    color: black;
}

.cardback-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin-bottom: 1rem;
}

@media (max-width: 768px){
    .cardback-wrapper {
        height: 320px;
        width: 250px;
    }

    .back-container p {
        height: 40px;
        width: 60px;
    }
 
  }

.back-container p {
    width: 320px;
    background-color: white;
    color: black;
    font-size: 23px;
}

.back-container strong {
    background-color: white;
    color: black;
}

.back-container h3{
    background-color: white;
    color: black;
}

.back-container{
    max-height: 400px;
    min-height: 400px;
    overflow: scroll;
    background-color: white;
}

.back-container span{
    background-color: white;
    color: black;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(5, 5, 5);
    cursor: pointer;
    position: relative;
    background-color: white;
}

.Btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

.votesNum{
    margin: 1rem;
    font-size: 22px;
    color: black;
    background-color: white;
}

.vote {
    background-color: white;
    font-size: 3rem !important;
    color: rgb(7, 37, 121);
    pointer-events: none;
}
.fa-undo{
    font-size: 1rem !important;
}
.fa{
    color: rgb(161, 14, 14);
}

button{
    background-color: white;
    border: none;
}