.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
    padding: 1em;
    margin: .5em;
    /* position: relative; */
  }

  .card-img {
    max-block-size: 620px;
  }

  @media (max-width: 768px){
    .card-img{
      max-block-size: 23rem;
    }
  }

  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    max-height: 150px;
    padding: 2px 16px;
    overflow: auto;
  }

 .w3-tag{
   border: solid 1px red;
   border-radius: 12%;
   background-color: red;
   padding: 1px;
   margin: 1px;
   float: right;
 }

 /* .play_button{
  background-color: #ff3d49; */
    /* position: absolute; */
  /* float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 20px;
  bottom: 111px;
  font-size: 17px;
  padding-left: 21px;
  padding-top: 10px;
  color: #FFFFFF;
  cursor: pointer;
 } */