ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    /* border: solid 1px rgb(11, 11, 11); */
  }

.searchBox{
    padding: .7rem;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
    border-radius: 2px;
  }

@media(max-width: 768px){
  .searchBox{
    padding: .5rem;
    font-size: 12px;
    width: auto;
  }
}

.searchForm{
    padding: 1em;
}

.logo img{ 
  margin-left: 1rem ;
  max-block-size: 3rem;
}