*{
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: rgb(192, 202, 211);
}
body{
    margin: 0;
    padding: 0;
}

.nav{
  height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    /* border: solid 1px blue; */
    background-color: rgba(0, 0, 0, 0.8);

}

.searchBtn{
  border: none;
  background-color:#e50914;;
  color: aliceblue;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  margin-top: .5rem;
}

.moviesList {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 75px;
  border:solid 2px blue;
  justify-content: space-around;
  /* overflow: hidden; */

}

@media only screen and (max-width: 600px) {
  .movieList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    height: 100vh;
  }
  .logo img{
    max-block-size: 2rem;
  }
  
  .searchBtn{
    padding: 4px 9px;
    font-weight: 100px;
    font-size: 1rem;
  }
}